{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
<style>
  img.middle {
      vertical-align: middle;
      padding-left:5em;
  }
</style>
{% endblock style %}

{% block content %}
<main>
  <h3>All Bookings</h3>
  <h5>Admin is only allowed to change the room of a booking. The timing and date cannot be changed.</h5>
  <div class="row">
    {% if bookings %}
    {% for book in bookings %}
        <div class="col s12 m6">
          <div class="card blue-grey darken-1 hoverable z-depth-5">
            <div class="card-content white-text">
              <p><b>By</b> : {{book.fullname}} <br><b>Date</b> : {{book.booking_date}} <br><b>Time</b> : {{book.booking_start}} - {{book.booking_end}} ({{book.duration}} mins)<br><b>Room</b> : {{book.room}}<br>Meeting is with {{book.capacity}} people</p>
            </div>
            <div class="card-action white-text">
              <p>Change to room...</p>
              {% if '1' in book.availabeRooms and book.capacity < 11 %}
              <a class="waves-effect waves-light btn-large z-depth-5" style="width:auto;" href="{% url 'changeRoom' username book.username book.booking_date book.booking_start book.room '1'  %}">1</a>
              {% else %}
              <a class="waves-effect waves-light btn-large disabled" style="width:auto;">1</a>
              {% endif %}
              {% if '2' in book.availabeRooms and book.capacity < 16 %}
              <a class="waves-effect waves-light btn-large z-depth-5" style="width:auto;" href="{% url 'changeRoom' username book.username book.booking_date book.booking_start book.room '2'  %}">2</a>
              {% else %}
              <a class="waves-effect waves-light btn-large disabled" style="width:auto;">2</a>
              {% endif %}
              {% if '3' in book.availabeRooms and book.capacity < 6 %}
              <a class="waves-effect waves-light btn-large z-depth-5" style="width:auto;" href="{% url 'changeRoom' username book.username book.booking_date book.booking_start book.room '3'  %}">3</a>
              {% else %}
              <a class="waves-effect waves-light btn-large disabled" style="width:auto;">3</a>
              {% endif %}
              {% if '4' in book.availabeRooms and book.capacity < 21 %}
              <a class="waves-effect waves-light btn-large z-depth-5" style="width:auto;" href="{% url 'changeRoom' username book.username book.booking_date book.booking_start book.room '4'  %}">4</a>
              {% else %}
              <a class="waves-effect waves-light btn-large disabled" style="width:auto;">4</a>
              {% endif %}

            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card-panel red lighten-1 hoverable">
            <span class="white-text"><b>No Bookings available for editing</b></span>
        </div>

        {% endif %}
      </div>
   <br><br>
   <h3>Total bookings for each user</h3>
   <div class="collection">
     {% for bookCount in bookingCount %}
    <a class="collection-item"><span class="badge">{{bookCount.count}}</span>{{bookCount.username}}</a>
    {% endfor %}
  </div>
  <br><br>
  <ul class="collection with-header">
       <li class="collection-header"><h4>Give user Admin Privileges</h4></li>
       {% for bookCount in bookingCount %}
       <li class="collection-item"><div>{{bookCount.username}}<a href="{% url 'makeAdmin' username bookCount.username  %}" class="secondary-content">Make Admin</a></div></li>
       {% endfor %}
   </ul>

   <br><br>
   <a class="waves-effect waves-light btn-large" style="width:auto;" href="{% url 'deleteOld' username %}">Delete Old Bookings</a>
 </main>
 <br><br><br>

{% endblock content %}

{% block javascript %}

<script>
  window.onload = function(){
    display_ct();
    {% if updated != '' %}
    Materialize.toast('{{updated}}', 4000,'rounded')
    {% endif %}
    {% if deleteOld != '' %}
    Materialize.toast('{{deleteOld}}', 4000,'rounded')
    {% endif %}
    {% if madeAdmin != '' %}
    Materialize.toast('{{makeAdmin}}', 4000,'rounded')
    {% endif %}
  }
</script>

{% endblock javascript %}
