{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
<style>
  img.middle {
      vertical-align: middle;
      padding-left:5em;
  }
</style>
{% endblock style %}


{% block content %}
<body>
  <main>
    <form id="post-form">{% csrf_token %}
      <label><b>Date</b></label>
      <input type="date" class="datepicker" name="date" id="date" required>
      <a href="#!" class="btn" onclick="start();">Get Bookings</a>
      <input type="text" id="name" style="visibility:hidden" value="{{username}}">
      <div id="error"></div>
    </form>
    <div id="progress" style="visibility:hidden;margin:auto;width:50%">
      <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
    </div>
  <div id="results" style="visibility: hidden;">
    <h3 id="title_booking">All bookings on </h3>
    <table id="booking_results" class="bordered responsive-table centered">
       <thead>
         <tr>
            <th>Name</th>
             <th>Date</th>
             <th>Time</th>
             <th>People</th>
             <th>Room</th>
         </tr>
       </thead>
       <tbody>
    </table>
  </div>
    <br><br><br>


  </main>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/main.js' %}"></script>
<script>
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>



<script>
  window.onload = function(){
    display_ct();
    $("#results").fadeOut(0);
    document.getElementById("results").style.visibility = "visible";
    {% if date == '1' %}
    create_post('yes','{{username}}')
    {% endif %}
  }
</script>

{% endblock javascript %}
