{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
<style>
  #rm1,#rm2,#rm3,#rm4{
    width: 100%;
    overflow-x:auto;
    overflow-y: hidden;
    white-space:normal;
  }
</style>
{% endblock style %}


{% block content %}
  <main>
    <form id="post-form">{% csrf_token %}
      <h4>Pick a date</h4>
      <div class="input-field col s6">
            <input id="date" type="date" class="datepicker" name="date">
            <label for="date">Date</label>
      </div>
      <a class="btn" onclick="start()" id="button">Get Bookings</a>
      <input type="text" id="name" style="visibility:hidden" value="{{username}}">
      <span id="error"></span>
    </form>
    <div id="progress" style="visibility:hidden;margin:auto;width:50%">
      <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
    </div>
    <div id="results" style="visibility: hidden;">
        <h3 id="title_booking">All bookings on </h3>
        <h4>Room 1:</h4>
        <div class="row" id="rm1"></div>
        <h4>Room 2:</h4>
        <div class="row" id="rm2"></div>
        <h4>Room 3:</h4>
        <div class="row" id="rm3"></div>
        <h4>Room 4:</h4>
        <div class="row" id="rm4"></div>
    </div>
    <br><br><br>
  </main>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/allBookings.js' %}"></script>
<script>
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>


<script>
$(document).ready(function (){
  $("#button").on('click',function(){
         $('html, body').animate({
              scrollTop: '+=300px'
        }, 2500);
    });

});

  window.onload = function(){
    display_ct();
    $("#results").fadeOut(0);
    document.getElementById("results").style.visibility = "visible";
    {% if date == '1' %}
    create_post('yes','{{username}}')
    {% endif %}
  }
</script>



{% endblock javascript %}
