<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Compulynx Meeting Room Booking</title>
    <meta name="description" content="Website to book meeting rooms at Compulynx office Nairobi,Kenya">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/realDateTime.js' %}"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    {% block style %}
    {% endblock style %}

  </head>

  <body onload=display_ct();>
    <ul id="slide-out" class="side-nav" style="background: #F8F8FF;" >
        <li><div class="user-view">
          <div class="background" style="background: #008080;">
          </div>
          <h3 style="color:white">{{fullname}}</h3>
          <a class="subheader" style="font-size:25px;color:white">{{username}}</a>
        </div></li>
        <li><div class="divider"></div></li>
        <li><a id="homepageOption" class="waves-effect"  href="{% url 'homepage' username %}"><i class="material-icons">home</i>Homepage</a></li>
        <li><a class="waves-effect" href="{% url 'newBooking' username %}"><i class="material-icons">add</i>New Booking</a></li>
        <li><a class="waves-effect" href="{% url 'manage' username %}"><i class="material-icons">delete</i>Delete My Bookings</a></li>
        <li><a class="waves-effect" href="{% url 'allBookings' username %}"><i class="material-icons">today</i>View All Bookings</a></li>
        <li><a class="waves-effect" href="{% url 'rooms' username %}"><i class="material-icons">room</i>Meeting Rooms</a></li>
        {% if role == 'admin' %}
        <li><a class="waves-effect" href="{% url 'adminSettings' username %}"><i class="material-icons">settings</i>Admin Settings</a></li>
        {% endif %}
        <li><a class="waves-effect" href="{% url 'logout' username %}"><i class="material-icons">exit_to_app</i>Log out</a></li>
    </ul>
    <a href="#" id ="menu" data-activates="slide-out" class="button-collapse show-on-large"><i class="medium material-icons">menu</i></a>
    <div id="datetime">
      <span id='ct'></span>
    </div>
    {% block content %}
    {% endblock content %}

    <div id="fob" class="fixed-action-btn ">
       <a class="btn btn-floating btn-large red" href="{% url 'newBooking' username %}">
         <i class="large material-icons">add</i>
       </a>
       <ul>
         <li><a class="btn-floating red" href="{% url 'manage' username %}"><i class="material-icons">delete</i></a></li>
         <li><a class="btn-floating yellow darken-1" href="{% url 'allBookings' username %}"><i class="material-icons">today</i></a></li>
         <li><a class="btn-floating green"  href="{% url 'rooms' username %}"><i class="material-icons">room</i></a></li>
         {% if role == 'admin' %}
         <li><a class="btn-floating blue"  href="{% url 'adminSettings' username %}"><i class="material-icons">settings</i>Admin Settings</a></li>
         {% endif %}
         <li><a class="btn-floating red" href="{% url 'logout' username %}"><i class="material-icons">exit_to_app</i></a></li>
       </ul>
     </div>

    <footer class="page-footer" style="background-color: #008080">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Compulynx booking system</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Android Application</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!"><i class="large material-icons">android</i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script>
      $(".button-collapse").sideNav({
      draggable: true,
      });
    </script>
    {% block javascript %}
    {% endblock javascript %}

  </body>
</html>
