{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
<meta charset='utf-8' />
<link rel='stylesheet' href="{% static 'fullcalendar/lib/cupertino/jquery-ui.min.css' %}"/>
<link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.min.css' %}" />
<script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
<link href="{% static 'fullcalendar/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
<script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
<style>
  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }
  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>
{% endblock style %}

{% block content %}
  <main>
    <h2>Welcome {{fullname}}</h2>
    <br>
    <h3>Your Upcoming Bookings</h3>
    {% if bookings != '[]' %}
      <div id='calendar'></div>
    {% else %}
    <div class="col s12 m6 l4 xl3">
        <div class="card-panel red lighten-1 hoverable">
            <span class="white-text"><b>No Upcoming Bookings</b></span>
        </div>
    </div>
    {% endif %}
    <br>
<div class="divider"></div>
  <br><br>
    <h3>All bookings for today</h3>
    {% if allBookings != '[]' %}
      <div id='calendar2'></div>
    {% else %}
    <div class="col s12 m6 l4 xl3">
        <div class="card-panel red lighten-1 hoverable">
            <span class="white-text"><b>No Bookings For Today</b></span>
        </div>
    </div>
    {% endif %}
     <br><br><br>
  </main>

{% endblock content %}

{% block javascript %}

<script>
  window.onload = function(){
    {% if message %}
    Materialize.toast('{{message}}', 4000,'rounded');
    {% endif %}
    {% if deleted %}
    Materialize.toast('{{deleted}}', 4000,'rounded');
    {% endif %}
    display_ct();
  }
</script>
<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
        theme: true,
        weekends: false,
        minTime: "08:00:00",
        maxTime: "18:00:00",
        header: {
  				left: 'prev,next today',
  				center: 'title',
  				right: 'month,agendaWeek,agendaDay,listWeek'
  			},
        weekNumbers: true,
  			weekNumbersWithinDays: true,
  			weekNumberCalculation: 'ISO',
  			navLinks: true, // can click day/week names to navigate views
  			eventLimit: true, // allow "more" link when too many events
  			events: [
          {% for book in bookings %}
          {% if book.others == "" %}
  				{
  					title: 'Room {{book.room}}',
  					start: '{{book.booking_date}}T{{book.booking_start}}',
            end: '{{book.booking_date}}T{{book.booking_end}}',
            {% if book.room == '2' %}
            color: 'yellow',
            {% elif book.room == '3' %}
            color: 'red',
            {% elif book.room == '4' %}
            color: 'green',
            {% endif %}
            textColor: 'black',
  				},
          {% else %}
          {
  					title: 'Room {{book.room}} with {{book.others}}',
  					start: '{{book.booking_date}}T{{book.booking_start}}',
            end: '{{book.booking_date}}T{{book.booking_end}}',
            {% if book.room == '2' %}
            color: 'yellow',
            {% elif book.room == '3' %}
            color: 'red',
            {% elif book.room == '4' %}
            color: 'green',
            {% endif %}
            textColor: 'black',
  				},
          {% endif %}
          {% endfor %}
  			]
    })

  });
</script>
<script>
  $(document).ready(function() {
    $('#calendar2').fullCalendar({
        theme: true,
        weekends: false,
        minTime: "08:00:00",
        maxTime: "18:00:00",
        visibleRange: {
          start: '{{today}}',
          end: '{{today}}'
        },
        defaultView: 'list',
  			events: [
          {% for book in allBookings %}
          {% if book.others == "" %}
  				{
  					title: 'Room {{book.room}} : {{book.fullname}}',
  					start: '{{book.booking_date}}T{{book.booking_start}}',
            end: '{{book.booking_date}}T{{book.booking_end}}',
            {% if book.room == '2' %}
            color: 'yellow',
            {% elif book.room == '3' %}
            color: 'red',
            {% elif book.room == '4' %}
            color: 'green',
            {% endif %}
            textColor: 'black',
  				},
          {% else %}
          {
  					title: 'Room {{book.room}} : {{book.fullname}} with {{book.others}}',
  					start: '{{book.booking_date}}T{{book.booking_start}}',
            end: '{{book.booking_date}}T{{book.booking_end}}',
            {% if book.room == '2' %}
            color: 'yellow',
            {% elif book.room == '3' %}
            color: 'red',
            {% elif book.room == '4' %}
            color: 'green',
            {% endif %}
            textColor: 'black',
  				},
          {% endif %}
          {% endfor %}
  			]
    })

  });
  </script>



{% endblock javascript %}
