{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
  <main>
    <h2>Welcome {{fullname}}</h2>
    <br>
    <h3>Upcoming Bookings</h3>
    <div class="row"  id="list1">
      {% if bookings != '[]' %}
      {% for book in bookings %}
        <div class="col s12 m12 l9" id='l1_{{ forloop.counter }}' style="opacity: 0;">
          <div class="card horizontal hoverable z-depth-5">
            <div class="card-image">
              {% if book.room == '1' %}
               <img src="{% static 'room1.jpg' %}">
              {% elif book.room == '2' %}
               <img src="{% static 'room2.jpg' %}">
              {% elif book.room == '3' %}
               <img src="{% static 'room3.jpg' %}">
              {% elif book.room == '4' %}
               <img src="{% static 'room4.jpg' %}">
              {% endif %}
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><b>Date</b> : {{book.booking_date}} <br><b>Time</b> : {{book.booking_start}} - {{book.booking_end}} ({{book.duration}} mins)<br><b>Room</b> : {{book.room}}<br>Meeting is with {{book.capacity}} people</p>
              </div>
              <div class="card-action">
                <a href="{% url 'delete' username book.booking_date book.booking_start book.room %}">Delete booking</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <div class="col s12 m6 l4 xl3">
          <div class="card-panel red lighten-1 hoverable">
              <span class="white-text"><b>No Upcoming Bookings</b></span>
          </div>
      </div>
      {% endif %}
    </div>
<div class="divider"></div>
  <br><br>
    <h3>All bookings for today</h3>
    <h4>Room 1:</h4>
    <div class="row" id="rm1">
      {% if rm1 %}
        {% for book in rm1 %}
        <div class="col s12 m6 l4 xl3">
          <div style="display: inline-block;">
            <div class="card-panel teal hoverable">
                <span class="white-text"><b>By</b> : {{book.fullname}} <br><b>Time</b> : {{book.booking_start}} - {{book.booking_end}}<br><b>Duration</b> : {{book.duration}} minutes<br>Meeting is with {{book.capacity}} people</span>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <div class="col s12 m6 l4 xl3">
          <div class="card-panel red lighten-1 hoverable">
              <span class="white-text"><b>No bookings in room 1 today</b></span>
          </div>
      </div>
      {% endif %}
    </div>
    <h4>Room 2:</h4>
    <div class="row" id="rm2">
      {% if rm2 %}
        {% for book in rm2 %}
        <div class="col s12 m6 l4 xl3">
          <div style="display: inline-block;">
            <div class="card-panel teal hoverable">
                <span class="white-text"><b>By</b> : {{book.fullname}} <br><b>Time</b> : {{book.booking_start}} - {{book.booking_end}}<br><b>Duration</b> : {{book.duration}} minutes<br>Meeting is with {{book.capacity}} people</span>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <div class="col s12 m6 l4 xl3">
          <div class="card-panel red lighten-1 hoverable">
              <span class="white-text"><b>No bookings in room 2 today</b></span>
          </div>
      </div>
      {% endif %}
    </div>
    <h4>Room 3:</h4>
    <div class="row" id="rm3">
      {% if rm3 %}
        {% for book in rm3 %}
        <div class="col s12 m6 l4 xl3">
          <div style="display: inline-block;">
            <div class="card-panel teal hoverable">
                <span class="white-text"><b>By</b> : {{book.fullname}} <br><b>Time</b> : {{book.booking_start}} - {{book.booking_end}}<br><b>Duration</b> : {{book.duration}} minutes<br>Meeting is with {{book.capacity}} people</span>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <div class="col s12 m6 l4 xl3">
          <div class="card-panel red lighten-1 hoverable">
              <span class="white-text"><b>No bookings in room 3 today</b></span>
          </div>
      </div>
      {% endif %}
    </div>
    <h4>Room 4:</h4>
    <div class="row" id="rm4">
      {% if rm4 %}
        {% for book in rm4 %}
        <div class="col s12 m6 l4 xl3">
          <div style="display: inline-block;">
            <div class="card-panel teal hoverable">
                <span class="white-text"><b>By</b> : {{book.fullname}} <br><b>Time</b> : {{book.booking_start}} - {{book.booking_end}}<br><b>Duration</b> : {{book.duration}} minutes<br>Meeting is with {{book.capacity}} people</span>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <div class="col s12 m6 l4 xl3">
          <div class="card-panel red lighten-1 hoverable">
              <span class="white-text"><b>No bookings in room 4 today</b></span>
          </div>
      </div>
      {% endif %}
    </div>
     <br><br><br>
  </main>

{% endblock content %}

{% block javascript %}

<script>
  window.onload = function(){
    {% if message %}
    Materialize.toast('{{message}}', 4000,'rounded');
    {% endif %}
    {% if deleted %}
    Materialize.toast('{{deleted}}', 4000,'rounded');
    {% endif %}
    display_ct();
    var options = [
      {% if bookings != '[]' %}
      {% for book in bookings %}
       {selector: '#l1_{{ forloop.counter }}', offset: 150, callback: function(el) {
         Materialize.fadeInImage($(el));
       } },
     {% endfor %}
     {% endif %}
    //  {% if allBookings != '[]' %}
    //  {% for book in allBookings %}
    //   {selector: '#l2_{{ forloop.counter }}', offset: 150, callback: function(el) {
    //     Materialize.fadeInImage($(el));
    //   } },
    // {% endfor %}
    // {% endif %}
   ];
   Materialize.scrollFire(options);
  }
</script>



{% endblock javascript %}
