{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Compulynx Meeting Room Booking</title>
    <meta name="description" content="Website to book meeting rooms at Compulynx office Nairobi,Kenya">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/index_page.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
  </head>

  <body>
    <div class="center_page">
      <h1>Compulynx Meeting Room</h1>
      <a class="waves-effect waves-light btn-large" onclick="document.getElementById('login').style.display='block'" style="width:auto;margin-right:10%;">Login</a>
      <a class="waves-effect waves-light btn-large" onclick="document.getElementById('register').style.display='block'" style="width:auto;margin-left:10%">Register</a>
      <h4 style="color:red;"><b><i>{{errorMessage}}</i></b></h4>
      <button type="button" onclick="document.getElementById('logout').style.display='block'" class="cancelbtn" style="visibility:{{visibility}}">Logout from all devices</button>
    </div>

    <div id="login" class="modal_form">
      <form class="modal-content animate" action="{% url 'login' %}" method="POST">{% csrf_token %}
        <div class="container">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <button type="submit">Login</button>
        </div>
        <div class="container">
          <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>

    <div id="register" class="modal_form">
      <form class="modal-content animate" action="{% url 'register' %}" method="POST">{% csrf_token %}
        <div class="container">
          <label><b>Name</b></label>
          <input type="text" placeholder="Enter Full name" name="fullname" required>
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>
          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <button type="submit">Register</button>
        </div>
        <div class="container">
          <button type="button" onclick="document.getElementById('register').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>

    <div id="logout" class="modal_form">
      <form class="modal-content animate" action="{% url 'logOutAll' %}" method="POST">{% csrf_token %}
        <div class="container">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>
          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <button type="submit">Log Out</button>
        </div>
        <div class="container">
          <button type="button" onclick="document.getElementById('logout').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>

    <script>
    // Get the modal
    var modal_login = document.getElementById('login');
    var modal_register = document.getElementById('register');
    var modal_logout = document.getElementById('logout');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal_login) {
            modal_login.style.display = "none";
        }
        else if (event.target == modal_register){
            modal_register.style.display = "none";
        }
        else if (event.target == modal_logout){
            modal_logout.style.display = "none";
        }
    }
    </script>

  </body>
</html>
