{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
<style>
  img.middle {
      vertical-align: middle;
      padding-left:5em;
  }
</style>
{% endblock style %}

{% block content %}
<main>
  <h2>Welcome {{fullname}}</h2>
  <br>
  <h3>All your bookings.</h3>
  <div class="row" >
    {% if bookings != '[]' %}
    {% for book in bookings %}
     <div class="col s12 m6" id="id_{{ forloop.counter }}" style="opacity: 0;">
       <div class="card">
         <div class="card-image">
           {% if book.room == '1' %}
            <img src="{% static 'room1.jpg' %}">
           {% elif book.room == '2' %}
            <img src="{% static 'room2.jpg' %}">
           {% elif book.room == '3' %}
            <img src="{% static 'room3.jpg' %}">
           {% elif book.room == '4' %}
            <img src="{% static 'room4.jpg' %}">
           {% endif %}
           <a href="{% url 'delete' username book.booking_date book.booking_start book.room %}" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
         </div>
         <div class="card-content">
           <p><b>Date</b> : {{book.booking_date}} <br><b>Time</b> : {{book.booking_start}} - {{book.booking_end}} ({{book.duration}} mins)<br><b>Room</b> : {{book.room}}<br>Meeting is with {{book.capacity}} people</p>
         </div>
       </div>
     </div>
     {% endfor %}
     {% else %}
     <h4 style="font-size:30px">No Upcoming Bookings</h4>
     {% endif %}
 </div>
 </main>
 <br><br><br>

{% endblock content %}

{% block javascript %}

<script>
  window.onload = function(){
    display_ct();
    {% if deleted %}
    Materialize.toast('{{deleted}}', 4000,'rounded')
    {% endif %}
    var options = [
      {% if bookings != '[]' %}
      {% for book in bookings %}
       {selector: '#id_{{ forloop.counter }}', offset: 200, callback: function(el) {
         Materialize.fadeInImage($(el));
       } },
     {% endfor %}
     {% endif %}
   ];
   Materialize.scrollFire(options);
  }
</script>

{% endblock javascript %}
